body {
	
	margin-top: 50px;

	
}

.box1 {
	border-style: solid;
	border-color:  #CCC;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 40px;
	text-decoration: none;
	background-color: none;
	color: black;
}

hr { 
    display: block;
    
    margin-bottom: 20px;

    border-style: inset;
    border-width: 1px;
}

a:link {
	text-decoration: none;
}

.submit {
	margin-top: 100px;
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.top-button {
	margin-bottom: 10px;
}


.area1 {
	  background: url(img/writing.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 20px

}

.headline {
	margin-bottom: 200px;
	margin-top: 200px; 
}

.container1 {
	background-color: white;
}

.area2 {
	  background: url(img/cafe.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.area3 {
	  background: url(img/editing.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

}
.quote {
	background-color: #3498db;
	margin-bottom: 20px;
	position: relative;
  	top: 50%; 

	height: 300px;

}

.quote2 {
	background-color: #3498db;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	
}

.space {
	padding: 20px;
}




.apple {
	background-color: #3498db;
	
	padding-left: 20px;
	padding-right: 20px;
	
}
	
